/* GENERAL STYLING */

.image {
  visibility: visible;
  cursor:pointer;
}


/* END GENERAL STYLING */




/* BARRE DE NAVIAGATION */

#logo {
	float:left;
	height:30px;
	width:30px;
	position:absolute;
	left : 20px;
	top : 8px;
	transition: all 1s; 
}

#logo:hover {
	transform: rotate(360deg);
}

/* FIN BARRE DE NAVIGATION */




/* TABLE DES LOGOS */

#table_logos {
	position : absolute;
	top : 60px;
	left: 50px;
}


/* FIN TABLE DES LOGOS */




/* DASHBOARD */

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 0px;
    height: 440px;
    background-color: white;
    opacity:1;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}

#btn-filter {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1em;
    background-color: white;
    left:50%;
    -webkit-transition: bottom 0.5s;
    transition: bottom 0.5s;
}

#btn-filter.active {
    bottom: 440px;
}

#btn-filter.active + footer {
    max-height: 440px;
}

.FrenchFinTech {
	position:absolute;
	left:60px;
}

#filtre-logo {
	width: 40px;
	height: 40px;
}

.dc-chart .pie-slice {
    font-family: "Proxima Nova", Helvetica;
    fill: white;
    font-size: 12px;
    cursor: pointer;
}

.dc-chart .selected path {
    stroke-width: 1;
    stroke: white;
    fill-opacity: 1;
}

.dc-chart .deselected path {
    stroke: none;
    fill-opacity: .5;
    fill: white;
}

#categoryPieChart {
  position: relative;
}

#businessModelPieChart {
  position: absolute;
  left : 220px;
  top : 17px;
}

#inceptionBarChart {
  position: relative;

}

#color-1 {
 background:#37DEB0;
}

#color-2 {
 background:#00B180;
}

#color-3 {
 background:#11D29D;
 min-height:70px;
}

#color-4 {
 background:#9C9C9C;
 min-height:70px;
}

#color-5 {
 background:#5FE8C2;
}

#color-6 {
 background:#94F2D8;
}

#tuile-titre-1 {
  background:#37DEB0;
}

#tuile-titre-2 {
 background:#00B180;
}

#tuile-titre-3 {
  background:#11D29D;
}

#tuile-titre-4 {
 background:#9C9C9C;
}

#tuile-titre-5 {
 background:#5FE8C2;
}

#tuile-titre-6 {
 background:#94F2D8;
}

.tuile {
	opacity:0.8;
	transition: all 0.5s;
	height:220px;
}

.mini-tuile {
	opacity:0.8;
	transition: all 0.5s;
	height:110px;
}

.tuile:hover {
	opacity:1;
}

.chart-title {
	position:absolute;
	opacity:1;
	font-weight:lighter;
	font-family: 22px, "Proxima Nova";
	left:32px;
	top:0px;
	height:60px;
	width:100%;
}

#total-raised {
	position : absolute;
	top : 115px;
}

/* FIN DASHBOARD */