/* GENERAL */

@import url(https://fonts.googleapis.com/css?family=Sanchez);

.image {
  visibility: visible;
  cursor:pointer;
}

.svg-cross {
	width : 32px;
	height : 32px;
	transition: 0.5s;
}

.svg-cross:hover {
	transform: rotate(540deg)
}


#corps {
	position: relative;
	margin : 0 auto;
	/* top : 51px; */
}

/* FIN GENERAL */


/* BARRE DE NAVIAGATION */

#logo {
	float:left;
	height:30px;
	width:30px;
	position:absolute;
	left : 20px;
	top : 8px;
	transition: 1s; 
}

#logo:hover {
	transform: rotate(720deg);
}

/* FIN BARRE DE NAVIGATION */


/* TITLES */

#titre1 {
	position: relative;
	background : #G1G1G1;
	min-height:65px;
	color:black;
	width:100%;
	padding-left : 20px;
	padding-bottom : 30px;
	padding-top : 35px;
	margin : 0;
	font-size : 60px;
	font-weight: lighter;
	text-align : center;
}

#titre2 {
	position: relative;
	background-color : white;
	min-height:65px;
	color:black;
	width:100%;
	padding-left : 20px;
	margin-top : 0px;
	margin-bottom : 33px;
	font-size : 60px;
	font-weight : lighter;
	text-align : center;
}

/* FIN TITLES */

/* TABLE DES LOGOS */

#logo-table {
	border-style:solid;
	border-width : 1px;
	border-color: #37DEB1;
	border-right:0px;
	border-left: 0px;
}

#table_logos {
	margin-left: 0px;
	margin-top : 0px;
	margin-bottom : 0px;
	margin-right: 0px;
}

.logos {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* FIN TABLE DES LOGOS */

/* MODAL */

.close .svg-cross {
	margin-top : 12px;
	margin-right : 14px;
}

h4.modal-txt {
	color : #073559;
	font: 20px "Proxima Nova", Helvetica;
	margin-left : 15px;
}

.modal-company {
	color : #073559;
	font: 32px "Proxima Nova", Helvetica;
	text-align : center;
	margin-bottom : 45px;
}

img.modal-logo {
    border: none;
	max-height:100%;
	max-width:100%;
}

h4.modal-abstract {
	margin-bottom : 0px;
	font : 24px "Proxima Nova";
	text-align : center;
}

.modal-padding {
	margin-top : 0px;
}

.container-logo {
	position :absolute;
	left : 20px;
	top : 20px;
	width : 150px;
	height: 70px;
}

a.modal-linkedin {
	position :relative;
	top : 98px;
	left : -76px;
}

.linkedin-logo {
	position:relative;
	top : 0px;
	left : 0px;
}

.FF-mini {
	position : relative;
	height : 40px;
	left :14px;
	top : 40px;
}


/* FIN MODAL */

/* DASHBOARD */

.chart-title {
	position : relative;
	opacity:1;
	font-weight:lighter;
	font-family: 22px, "Proxima Nova";
	left:16px;
	top:3px;
	height:60px;
	width:85%;
}

#color-1 {
 background:#073559;
 min-height:125px;
}

#color-2 {
 background:#0D4F8B;
min-height:100px;
/*  height : 456px; */
}

#color-3 {
 background:#F1F1F1;
 color : #073559;
 min-height:280px;
}

#color-4 {
 background:#F7F7F7;
 color : #A51D0C;
 min-height:301px;
}

#color-5 {
 background:#550805;
  min-height:150px;
}

#color-6 {
 background:#A51D0C;
  min-height:431px;
}

.chart {
	position : relative ;
}

.dc-chart .pie-slice {
    font-family: "Proxima Nova", Helvetica;
    fill: white;
    font-size: 18px;
    cursor: pointer;
}

.dc-chart .selected path {
    stroke-width: 1;
    stroke: white;
    fill-opacity: 1;
}

.dc-chart .deselected path {
    stroke: none;
    fill-opacity: .5;
    fill: white;
}

.FrenchFinTech {
	position:relative;
	left:60px;
}

#categoryRowChart {
  position : absolute;
  bottom : 0px; 
  left : 15px;
}

#categoryRowChart .axis text {
	fill: #A51D0C;
    font: 18px "Proxima Nova", "Helvetica", sans-serif;
}

#categoryRowChart .grid-line {
    fill: none;
    stroke: #A51D0C;
    opacity: 0.5;
    stroke-width:2;
    shape-rendering: crispEdges;
}

#businessModelPieChart {
  position : absolute;
  left : 105px;
  top : 55px;
}

#inceptionBarChart {
 position : absolute;
 left : 20px;
 bottom : 10px;
 overflow:hidden;
}

#fundsBarChart {
  position : relative;
  left : 20px;
  bottom : 15px;
}

h1#total-leve {
	font-size : 52px;
	position : absolute;
	width : 370px;
	margin-left :35px;
}

#montant-leve {
	position : absolute;
	top : 32px;
	height:150px;
	color:white;
}

#FF{
	position : absolute;
	left : 18px;
	top : 30px;
}

.reset {
	position : relative;
	top : 20px ;
	right : 20px;
}

#inceptionBarChart {
	overflow:hidden;
	max-width : 95%
}

svg#inceptionBarChart {
	overflow:hidden;
}

/* FIN DASHBOARD */
 
 
/* TAILLE SECTIONS MAIN */

section#filter {
	position : relative;
	margin : 0;
	padding-bottom : 20px;
	padding-top : 51px;
}

section#explore {
	position : relative;
	margin : 0;
	padding-bottom : 0px;
	padding-top : 20px;
}

/* FIN TAILLE SECTIONS MAIN */


/* FOOTER  */

section#about {
	position : relative;
	margin : 0;
	padding-bottom : 0px;
	padding-top : 0px;
}

#footer {
	position : relative;
	background-color: rgba(0,0,0,0.1);
}

.FizBack {
	position : absolute;
	margin-left : 20px;
	font : 20px, "Proxima Nova";
	color : #073559;
}

h4.FizBack {
	margin-top : 16px;
}

.twitter {
	position : relative;
	width : 35px;
	margin-left: 75px;
	margin-top :10px;
}

.jellyfish {
	position : relative;
	width : 45px;
	height : 45px;
	margin-left : 90px;
	margin-top :3px;
}

.github {
	position : relative;
	width : 50px;
	height : 50px;
	margin-left : 55px;
	margin-top :0px;
}

/* FIN FOOTER */