<!DOCTYPE html>
<meta charset="utf-8">

<html>
  <head>
  	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="description" content="Le club FinTech France" />
    <meta name="author" content="Samuel Fillon" />
    	
 	<script src="/static/js/lib/jquery-2.1.4.js" type="text/javascript"></script>
    <script src="/static/js/lib/d3-min.js" type="text/javascript"></script>
  	<script src="/static/js/lib/crossfilter.js" type="text/javascript"></script>
  	<script src="/static/js/lib/dc.js" type="text/javascript"></script>
 	<script src="/static/js/lib/bootstrap.js" type="text/javascript"></script>
 	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
 	
 	<link href="/static/css/lib/dc.css" rel="stylesheet"/>
	<link href="/static/css/lib/bootstrap.css" rel="stylesheet" />
	<link href="/static/css/lib/ionicons.css" rel="stylesheet" />
	<link href="/static/css/lib/font-awesome.css" rel="stylesheet" />
	<link href="/static/css/lib/fancy-box.css" rel="stylesheet" />
	<link href="/static/css/lib/animation.min.css" rel="stylesheet" />
	<link href="/static/css/lib/style-blue.css" rel="stylesheet" />
	
 	<link href="/static/css/style.css" rel="stylesheet"/>
 	
    <title>Frogs in Fintech</title>
    
    <link rel="icon" 
      type="image/png" 
      href="http://i.imgur.com/gxslvVD.png">
      
<!-- 
    <script>
    	$(window).ready(function() {
    	
   	   var hash = this.hash;
    	
		$(".containloader").fadeOut("slow");
		
		   $('html, body').animate({
       		scrollTop: $(hash).offset().top
     		}, 300, function(){
       		window.location.hash = hash;
     	});
	});
		
    </script>
 -->

      

  </head>
  
  <body data-spy="scroll" data-target="#menu-section">
  
  
  
<!-- 
   <div class="containloader"> 
<div class="zgroup"> 
  <div class="bigSqr">
    <div class="square first"></div>
    <div class="square second"></div>
    <div class="square third"></div>
    <div class="square fourth"></div>
  </div>
</div>
</div>
 -->

 
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68207768-1', 'auto');
  ga('send', 'pageview');

</script>
 
 
 
  

   	  <nav class="navbar navbar-inverse navbar-fixed-top" id="menu-section" >
  		  <div class="container-fluid">	
			  <div class="navbar-header">
			  <a href="https://theassets.co">
			  <img id="logo" class="img-responsive" src="http://i.imgur.com/gxslvVD.png" alt="The Assets" >
			  </a>
			  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  <span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand FrenchFinTech" style="letter-spacing:2px;font-weight:normal" href="#">
				Frogs in Fintech
			  </a>
			  </div>
			  
			  <div class="navbar-collapse collapse">
			  <ul class="nav navbar-nav navbar-right">
			  <li class="active" ><a href="#filter" style="font-family:'Proxima Nova';font-weight:normal">FILTER</a></li>
			  <li><a href="#explore" style="font-family:'Proxima Nova';font-weight:normal">EXPLORE</a></li>
			  </ul>
			  </div>
		  </div>
	</nav>
	<div class="container-fluid">C
		  <div id="corps">
		  		<section id = "filter">
				<div class="row">
					<h3 id="titre1">- F I L T E R -</h3>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="row tuile" id="color-1">
							 <div class="chart-title"><h4>F R A N C E &nbsp;&nbsp;F I N T E C H</h4></div>
							 <a data-toggle="tooltip" class="tooltip" data-placement="bottom" title="By clicking on the France Fintech logo, only its members will appear">
    							<img class="info-logo" src="/static/image/info.png" />
							 </a>
							 <div class="chart" id="FF"></div>
						</div>
						<div class="row tuile" id="color-2">
							 <div class="chart-title"><h4>C R E A T I O N S</h4></div>
							 <a data-toggle="tooltip" style="top : 155px;" class="tooltip" data-placement="bottom" title="Click on the chart to select a time span and filter startups created during this period only">
    							<img class="info-logo" src="/static/image/info.png" />
							 </a>
							 <div id="inceptionBarChart" class="chart"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row tuile" id="color-3">
							 <div class="chart-title"><h4>B U S I N E S S &nbsp;&nbsp; T Y P E</h4></div>
							 <a data-toggle="tooltip" class="tooltip" data-placement="bottom" title="Filter by business type">
    							<img class="info-logo" src="/static/image/info.png" />
							 </a>
							 <div id="businessModelPieChart" class="chart"></div>
						</div>
						<div class="row tuile" id="color-4">
							 <div class="chart-title"><h4>C A T E G O R Y</h4></div>
							 <a data-toggle="tooltip" style="top:285px;" class="tooltip" data-placement="bottom" title="Filter by category">
    							<img class="info-logo" src="/static/image/info.png" />
							 </a>
							 <div id="categoryRowChart" class="chart">
<!-- 
							      <a
							        class='reset svg' 
          							href='javascript:categoryRowChart.filterAll();dc.redraw.all()'
          							style='display: none; width : 20px; height : 20px;'><img class="svg-cross" src="/static/image/whitecross.svg">
          							</a>
 -->
							  </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row" id="color-5">
							<div class="chart-title"><h4>T O T A L &nbsp;&nbsp; R A I S E D</h4></div>
							 <a data-toggle="tooltip" class="tooltip" data-placement="bottom" title="Total amount raised considering your filters">
    							<img class="info-logo" src="/static/image/info.png" />
							 </a>
							<div class="chart" id="montant-leve"><h1 id="total-leve">€<span class="number-display">_</span> MILLION </h1></div>
						</div>
						<div class="row tuile" id="color-6">
							<div class="chart-title"><h4>F U N D I N G S &nbsp;( € M )</h4></div>
							 <a data-toggle="tooltip" style="top : 130px;" class="tooltip" data-placement="bottom" title="Click on the chart to select a time span and filter startups that raised during this period">
    							<img class="info-logo" src="/static/image/info.png" />
							 </a>
							<div id="fundsBarChart" class="chart"></div>
						</div>
					</div>
				</div>
				</section>
				<section id="explore">
					<div class="titre"><h3 id="titre2">- E X P L O R E -</h3></div>
					<div class="row" id="logo-table">
						<div class="span12" id="table_logos"></div>
						
						    <div class="modal fade" id="myModal" role="dialog">
    							<div class="modal-dialog">
    
							  		<div class="modal-content">
										<div class="modal-body">
											<button type="button" class="close" data-dismiss="modal"><img class="svg-cross" src="/static/image/whitecross.svg"></button>
								  			<h4 class="modal-company modal-titre"></h4>
								  			<h4 class="modal-abstract modal-txt"></h4>
								  			<div class="modal-padding">
								  				<a class="modal-FF" href="http://www.francefintech.org/"><img class="FF-mini" src="http://blog.bolden.fr/wp-content/uploads/2015/07/france-fintech.png"></a>
								  				<a class="modal-linkedin"><img src="/static/image/In-2CRev-21px-R.png" class="linkedin-logo"></a>
								  			<div class="container-logo">	
								  				<a class="modal-websitelink"><img class="modal-logo"></a>
								  			</div>
								  				<h4 class="modal-FFmembership modal-txt"></h4>
								  				<h4 class="modal-creation modal-txt"></h4>
								  				<h4 class="modal-CEO modal-txt"></h4>
								  				<h4 class="modal-Linkedin modal-txt"></h4>
								  				<h4 class="modal-category modal-txt"></h4>
								  				<h4 class="modal-BM modal-txt"></h4>
								  				<h4 class="modal-headquarters modal-txt"></h4>
<!-- 								  				<h4 class="modal-website modal-txt"></h4> -->
								  				<h4 class="modal-round1 modal-txt"></h4>
								  				<h4 class="modal-round2 modal-txt"></h4>
								  				<h4 class="modal-round3 modal-txt"></h4>
								  				<h4 class="modal-round4 modal-txt"></h4>
								  				<h4 class="modal-competition modal-txt"></h4>
								  				
								  			</div>
										</div>
							  		</div>
	  
								</div>
							
							</div>
					  </div>
				</section>
							<script>
							if ($(window).width() > 1270) { var text_width = "52px" ; var bt_margin = 100 * (($(window).width() / 3 - 210) / 2) / ($(window).width() / 3) ; var ff_margin = 100 * (($(window).width() / 3 - 400) / 2) / ($(window).width() / 3) ;  var div_width = $(window).width() / 3 - 5 }
							else if ($(window).width() > 1195) { var text_width = "47px"; var bt_margin = 100 * (($(window).width() / 3 - 210) / 2) / ($(window).width() / 3) ; var ff_margin = 100 * (($(window).width() / 3 - 400) / 2) / ($(window).width() / 3) ; var div_width = $(window).width() / 3 - 5 }
							else if ($(window).width() > 976) { var text_width = "40px"; var bt_margin = 100 * (($(window).width() / 3 - 210) / 2) / ($(window).width() / 3) ; var ff_margin = 100 * (($(window).width() / 3 - 400) / 2) / ($(window).width() / 3) ; var div_width = $(window).width() / 3 - 5}
							else if ($(window).width() > 600) { var text_width = "52px"; var bt_margin = 100 * (($(window).width() - 210) / 2) / ($(window).width()) ; var ff_margin = 100 * (($(window).width() - 400) / 2) / ($(window).width() ) ; var div_width = $(window).width() - 10}
							else if ($(window).width() > 450) { var text_width = "49px"; var bt_margin = 100 * (($(window).width() - 210) / 2) / ($(window).width()) ; var ff_margin = 100 * (($(window).width() - 400) / 2) / ($(window).width() ) ; var div_width = $(window).width() - 10}
							else if ($(window).width() < 451) { var text_width = "36px"; var bt_margin = 100 * (($(window).width() - 210) / 2) / ($(window).width()) ; var ff_margin = 100 * (($(window).width() - 400) / 2) / ($(window).width() ) ; var div_width = $(window).width()}
							
							$("#businessModelPieChart").css("left", Math.round(bt_margin) + "%");
							$('#FF').css("left", Math.round(ff_margin) + "%");
							$("h1#total-leve").css("font-size", text_width);
							$("h1#total-leve").css("width", div_width + "px");
														
							</script>
				<section class="about" id="about">
					<footer>
						<div class="row" id="footer">
							    <div class="col-md-8" style="height:50px;">
	  								<h4 class="FizBack"> By&nbsp;<a style="color:black;text-decoration:underline" href="https://twitter.com/FizBack">@FizBack</a>&nbsp;for&nbsp;<a style="color:black;text-decoration:underline" href="https://www.twitter.com/the_assets">The Assets</a> </h4>
							    </div>
<!--							    <div class="col-md-2" style="height:50px;">
 
							        <h4 class="FizBack"> FORK </h4>
	  								<a class="FizBack" href="https://github.com/FizBack/FFintech"> <img class="github" src="https://i.imgur.com/wRNRwGX.png"> </a>
							    </div>
 -->
							    <div class="col-md-2" style="height:50px;">
							        <h4 class="FizBack"> SEE ALSO </h4>
	  								<a class="FizBack" href="http://thefintechjellyfish.theassets.co"> <img class="jellyfish" src="https://d30y9cdsu7xlg0.cloudfront.net/png/5356-200.png"> </a>
							    </div>
							    <div class="col-md-2" style="height:50px;">
							    	<h4 class="FizBack"> SHARE </h4>
	  								<img class="twitter" src="/static/image/twitter.png">
							    </div>
						</div>
					</footer>
				</section>
	  	   </div>
	  </div>

   	<script src="/static/js/app test.js" type="text/javascript"></script>
   	
   	
   	<script>
   	
	$(document).ready(function(){
    	$('[data-toggle="tooltip"]').tooltip(); 
	});

	$('.twitter').click(function(){window.open("http://twitter.com/home?status=Who let the frogs out%3F %23Fintech http://frogsinfintech.theassets.co/ by @FizBack @The_Assets")});
   	
   $(".navbar-collapse ul li a[href^='#']").on('click', function(e) {

   e.preventDefault();

   var hash = this.hash;

   $('html, body').animate({
       scrollTop: $(hash).offset().top
     }, 300, function(){
       window.location.hash = hash;
     });
	});   	
   	
   	</script>

  </body>  
</html>